# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Only include the addons/stl-io folder when downloading from the Asset Library.
**        export-ignore
addons !export-ignore
addons/stl-io !export-ignore
addons/stl-io/** !export-ignore
